
.topptekst { 
  background-image: url("../media/La_Morra.jpeg");
  heigth: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.topp {
  height: 350px;
}

.innhold {
  background-color: #404040;
  padding:5px;
  margin: 5px;
}


